
:root{
  --bg-colar-midniht-green: #014E56;
  --bg-colar-dark-green: #002529;
  --bg-colar-police-blue: #2C6269;
  --bg-colar-deep-jungle-greem:#004047;
  --bg-colar-sacramento-state-greem:#012F34;
  --bg-color-light-coral: #F67E7E;
  --text-colar-white: #fff;
  --text-colar-rapture-blue: #79C8C7;


  --text-font-size-18: 18px;
  --text-font-size-15: 15px;

  --text-line-height-28: 28px;
  --text-line-height-25: 25px;
}

@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 400;
  src:url("../fonts/livvic-v13-latin-regular.woff2") format("woff2"), 
       url("../fonts/livvic-v13-latin-regular.woff") format("woff");  
}

@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/livvic-v13-latin-600.woff2") format("woff2"), 
       url("../fonts/livvic-v13-latin-600.woff") format("woff"); 
}
/* livvic-700 - latin */
@font-face {
  font-family: "Livvic";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/livvic-v13-latin-700.woff2") format("woff2"),
       url("../fonts/livvic-v13-latin-700.woff") format("woff"); 
}
/* GENERAL */
*{
  box-sizing: border-box;
}
html{
  height: 100%;
}

img{
  display: block;
  height: auto;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Livvic";
  background-color: var(--bg-colar-midniht-green);
}
a {
  display: inline-block;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */

.container{
  max-width: 1150px;
  margin: 0 auto;
  padding: 0 20px;
}

/* STICKY-FOOTER */
.site-main{
  flex-grow: 1;
}

.header-inner {
  display: flex;
  align-items: center;
  padding: 77px 0;
}
.header-inner__list {
  display: flex;
  align-items: center;
  margin: 0 0 0 80px;
  padding: 0;
  list-style: none;
}
.header-inner__list-link {
font-weight: 600;
font-size: 18px;
line-height: 28px;
color: var(--text-colar-white);
}
.header-inner__list-link:hover {
color: var(--bg-color-light-coral);
}
.header-inner__list-item:last-child {
  margin-left: 40px;
}
.header-inner__btn {
margin-left: auto;
padding: 9px 33px 11px 32px;
font-weight: 600;
font-size: 18px;
line-height: 28px;
border: 2px solid #FFFFFF;
border-radius: 24px;
color: var(--text-colar-white);
}
.header-inner__btn:hover  {
  color: var(--bg-colar-dark-green);
  background-color: var(--text-colar-white);
}
.hero {
background-image: url("../images/hero-left.svg"),url("../images/hero-bottom.svg");
background-repeat: no-repeat;
background-position: calc(50% - 759px) calc(100% - 258px),calc(50% + 375px) calc(100% - -105px);
}
.about-hero {
  background-image: url("../images/hero-about.svg");
background-repeat: no-repeat;
background-position: calc(50% + 762px) calc(100% - 0px);
}
.banner {
  padding: 52px 0 250px;
  display: flex;
  justify-content: space-between;

}
.banner__left {
  width: 635px;
}
.banner__left--about {
  width: 350px;
}
.banner__title {
  margin: 0;
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  color: var(--text-colar-white);
}
.banner__title--about {
font-size: 64px;
}
.banner__title span {
color: var(--bg-color-light-coral);
}
.banner__right {
  width: 445px;
}
.banner__right--about {
  width: 730px;
}
.banner__text {
  position: relative;
  margin: 77px 0 0 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: var(--text-colar-white);
}
.banner__text--about {
  margin-top: 44px;
}
.banner__text::before {
content: "";
position: absolute;
top: -68px ;
left: 0;
width: 50px;
height: 4px;
background-color: var(--text-colar-rapture-blue);
}
.banner__text--about::before {
background-color: var(--bg-color-light-coral);
}
.build {background-image: url("../images/build.svg");
  background-repeat: no-repeat;
  background-position: calc(50% + 765px) calc(100% - 0px);

  background-color: var(--bg-colar-sacramento-state-greem);
}
.build-inner {
  display: flex;
  justify-content: space-between;
  padding: 198px 0 140px 0;
}
.build-inner__left {
  width: 445px;
}
.build-inner__title {
  position: relative;
  margin: 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: var(--text-colar-white);
}
.build-inner__title::before {
  content: "";
  position: absolute;
  top: -68px ;
  left: 0;
  width: 50px;
  height: 4px;
  background-color: var(--bg-color-light-coral);
}
.build-inner__right {
  width: 445px;
}
.build-list {
  list-style: none;
 padding: 0;
 margin: 0;
}
.build-list__item {
  margin-top: 32px;
  position: relative;
}
.build-list__item:nth-child(1) {
  margin: 0;

}
.build-list__item::before {
  content: "";
  position: absolute;
  left: -95px;
  top: 0;
  width: 72px;
  height: 72px;
  background-image: url("../images/experiences-img.svg");
  
}
.build-list__item:nth-child(2):before {
  background-image: url("../images/easy-img.svg");
}
.build-list__item:nth-child(3):before {
  background-image: url("../images/enhanced-img.svg");
}
.build-list__title {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: var(--bg-color-light-coral);
}
.build-list__text {
  margin: 16px 0 0 0;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: var(--text-colar-white);
}
/* Start Samandar stories section */
a,
strong
{
  display: inline-block;
  text-decoration: none;
}



.site-stories-section{
  position: relative;
  padding: 140px 0 245px 0;
  background-color: var(--bg-colar-deep-jungle-greem);
  background-image: url("../images/delivering-bottom.svg");
  background-size: 200 200;
  background-repeat: no-repeat;
  background-position: calc(50% + 665px) calc(50% + 400px);
}
.site-stories-section::before{
  content: "";
  position: absolute; 
  left: calc(50% - 760px);
  top: 0;
  background-image: url("../images/delivering-top.svg");
  width: 147px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
}
.stories-box__bottom-img{
  position: absolute;
  right: 0%;
  bottom: -10%;
}


.stories-title{
  margin: 0;
  margin-bottom: 92px;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: var(--text-colar-white);

}
.stories-title__item{
  color: var(--text-colar-rapture-blue);
}
.stories-box__list{
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.stories-list__item{
  position: relative;
  width: 350px;
  padding-top: 36px;
  list-style: none;
}
.stories-list__item{
  background-image: url("../images/deliver-quatre.svg");
  background-repeat: no-repeat;
  background-size: 67px 56px ;
  background-position: calc(50% + 0px) calc(50% - 75px);
}
.stories-list__item::after{
  content: "";
  position: absolute;
  right: 42%;
  bottom: -42%;
  background-image: url("../images/kady-baker-img.svg");
  width: 62px;
  height: 62px;
  background-repeat: no-repeat;
  background-size: contain;
}
.stories-list__item:nth-child(2)::after{
  background-image: url("../images/aiysha-reese-img.svg");
}
.stories-list__item:nth-child(3)::after{
  background-image: url("../images/arthur-clarke.svg");
}
.stories-list__item:not(:last-child){
  margin-right: 30px;
}
.stories-list__text{
  margin: 0;
  margin-bottom: 24px;
  font-weight: 600;
  font-size: var(--text-font-size-15);
  line-height: var(--text-line-height-25);
  text-align: center;
  color: var(--text-colar-white);
}
.stories-list__person-name{
  margin: 0;  
  margin-bottom: 2px;
  display: block;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #79C8C7;
}
.stories-list__person-job{
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: var(--text-colar-white);
}
/* End stroies section */

.redy-section{
  padding: 76px;
  background-color: var(--bg-color-light-coral);
  background-image: url("../images/ready-to-started-bg.svg");
  background-size: 200px 244px;
  background-repeat: no-repeat;
  background-position: calc(50% - 665px) calc(50% + 78px);
}
.redy-box{
  margin: 0 auto;
  width: 917px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.redy-box__title{
  margin: 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: var(--bg-colar-sacramento-state-greem);
}
.redy-link{
  padding: 10px 33px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: var(--bg-colar-sacramento-state-greem);
  border: 2px solid #012F34;
  border-radius: 24px;
}
.redy-link:hover{
  color: var(--text-colar-white);
  background-color: #012F34;
}
.site-footer{
  padding: 48px 0;
  background-color: var(--bg-colar-dark-green);

}

.footer-box{
  display: flex;
  align-items: center;
}
.footer-box__link{
  margin-top: 25px;
  font-weight: 600;
  font-size: var(--text-font-size-18);
  line-height: var(--text-line-height-28);
  color: var(--text-colar-white);
}
.footer-box__link:hover{  
  color: var(--bg-color-light-coral);
}
.footer-box__link:not(:last-child){
  margin-right: 40px;
}
.footer-box__text-box{
  margin-left: 125px;
}
.footer-box__text{
  margin: 0;
  margin-left: 125px;
  font-weight: 600;
  font-size: var(--text-font-size-15);
  line-height: var(--text-line-height-25);
  color: var(--text-colar-white);
  mix-blend-mode: normal;
  opacity: 0.6;
  font-style: normal;
}
.footer-box__phone-number {
  color: var(--text-colar-white);
}
.footer-box__end{
  margin-left: auto;
}
.footer-box__icon-box{
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}
.footer-box__icon{
  margin-bottom: 45px;
  color: var(--text-colar-white);
}
.footer-box__icon:not(:last-child){
  margin-right: 16px;
}
.footer-box__icon:hover{
  color: var(--bg-color-light-coral);
}
.footer-box__end-text{
  margin: 0;
  font-weight: 600;
  font-size: var(--text-font-size-15);
  line-height: var(--text-line-height-25);
  text-align: right;
  color: var(--text-colar-white);
  mix-blend-mode: normal;
  opacity: 0.6;
}




/* Start Samanda Second page */ 


.about-directors{
  position: relative;
  padding: 140px 0 168px;
  background-color: var(--bg-colar-deep-jungle-greem);
  background-image: url("../images/delivering-top.svg");
  background-size: 147px 100px;
  background-repeat: no-repeat;
  background-position: calc(50% + 684px) calc(50% + 459px);
}
.about-directors::before{
  position: absolute;
  top: 0%;
  left: -7%;
  background-image: url("../images/delivering-bottom.svg");
  width: 200px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
} 

.about-directors-box__title{
  margin: 0;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: var(--text-colar-white);
  margin-bottom: 64px;
}



.directors-list{
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.directors-list__item{
  position: relative;
  width: 350px;
  height: 253px;
  transform-style: preserve-3d;
  transition: 0.5s ease;
}

.directors-list__front{
  padding: 32px 0;
  position: absolute;
  width: 350px;
  height: 253px;
  backface-visibility: hidden;
  background-color: #012F34;
}
.directors-list__img{
  margin: 0 auto;
  margin-bottom: 16px;
}
.directors-list__person-name{
  margin: 0;
  font-weight: 700;
  font-size: var(--text-font-size-18);
  line-height: var(--text-line-height-28);
  text-align: center;
  color: var(--text-colar-rapture-blue);
}
.directors-list__person-job{
  margin: 0;
  font-size: var(--text-font-size-15);
  line-height: var(--text-line-height-25);
  text-align: center;
  color: var(--text-colar-white);
}
.directors-list__back{
  padding: 35px 28px 52px 28px;
  position: absolute;
  width: 350px;
  height: 253px;
  backface-visibility: hidden;
  background-color: #002529;
  transform: rotateY(180deg);
}

.directors-black__title{
  font-weight: 700;
  font-size: var(--text-font-size-18);
  line-height: var(--text-line-height-28);
  text-align: center;
  color: var(--text-colar-rapture-blue);
}
.directors-black__text{
  font-weight: 600;
  font-size: var(--text-font-size-15);
  line-height: var(--text-line-height-25);
  text-align: center;
  color: var(--text-colar-white);
}
.directors-black__links-box{
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.directors-black__links:not(:last-child){
  margin-right: 16px;
}
.directors-black__links{
  color: #fff;

}
.directors-black__links:hover{
  color: var(--bg-color-light-coral);
}
.directors-list__link{
  position: absolute;
  left: 40%;
  bottom: -12%;
}
.directors-list__link{
  transition: all  0.5s ease;
  transform: rotate(45deg);
}
.directors-list__link svg circle {
  fill: #F67E7E;
  transition: fill 0.5s ease;
}

.directors-list__iiner{
  position: relative;
  list-style: none;
  display: inline-block;
  flex-wrap: 1;
}
.directors-list__iiner:nth-child(1){
  margin-bottom: 76px;
}
.directors-list__iiner:nth-child(2){
  margin-bottom: 76px;
}
.directors-list__iiner:nth-child(3){
  margin-bottom: 76px;
}
.directors-list__iiner:not(:last-child){
  margin-right: 20px;
}
.directors-list__iiner:not(:nth-child(3)){
  margin-right: 20px;
}

.directors-list__iiner:hover .directors-list__item{
  transform: rotateY(180deg);
}
.directors-list__iiner:hover  .directors-list__link{
  transform: rotate(0);  
}
.directors-list__iiner:hover  .directors-list__link svg circle{
  fill: #79C8C7;
}
.about-some {
  padding: 140px;
  background-image: url("../images/clients-bg.svg");
  background-repeat: no-repeat;
  background-position: calc(50% - 665px) calc(50% - 121px);
  background-color: var(--bg-colar-sacramento-state-greem);
}
.some-inner__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  color: var(--text-colar-white);
  margin: 0 0 64px 0;
}
.some-inner__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

